#section-about {
	font-family: "Roboto Mono", monospace;
	padding-top: 6rem;
	background-color: #3a4a96;
	color: #ffffff;
}
#section-about .profile-about{
	max-width: 240px;
}

#section-about .table-about-me {
	border-collapse: collapse;
	width: 100%;
}

#section-about .table-about-me td {
	padding: 8px 8px 8px 0px;
}

#section-skills .card-img-skills {
	position: absolute;
	top: -40px;
	left: 50%;
	margin-left: -40px;
	width: 80px !important;
	height: 80px;
	background-color: #5469C9;
}

#section-skills .card-skills {
	overflow: unset !important;
}

#section-portfolio .card-portfolio {
	min-height: 0px !important;
}

/* Image Overlay Slide */
#section-portfolio .card-img-overlay {
	color: #fff;
	transition: all 0.4s ease-in-out;
}

#section-portfolio .card-img-container {
	position: relative !important;
	overflow: hidden;
}

#section-portfolio .card-img-container:hover .card-img-overlay {
	margin-top: 0px;
}

#section-portfolio .overlay-content {
	margin-top: 400px;
	background: rgb(84 105 201 / 0.8);
	text-decoration: none;
}
